[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/xmledit"]
	path = bundle/xmledit
	url = https://github.com/sukima/xmledit.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "bundle/javascript-libraries-syntax"]
	path = bundle/javascript-libraries-syntax
	url = https://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-addon-linux-coding-style"]
	path = bundle/vim-addon-linux-coding-style
	url = https://github.com/vivien/vim-addon-linux-coding-style.git
[submodule "bundle/CuteErrorMarker"]
	path = bundle/CuteErrorMarker
	url = https://github.com/Twinside/vim-cuteErrorMarker.git
[submodule "bundle/VisIncr"]
	path = bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/yankring"]
	path = bundle/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
        branch = master
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/vim-scripts/javacomplete.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/vim-operator-user"]
	path = bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
[submodule "bundle/vim-multiple-cursors"]
	path = bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "bundle/DoxygenToolkit"]
	path = bundle/DoxygenToolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "bundle/neomru.vim"]
	path = bundle/neomru.vim
	url = https://github.com/Shougo/neomru.vim.git
[submodule "bundle/neoyank.vim"]
	path = bundle/neoyank.vim
	url = https://github.com/Shougo/neoyank.vim
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "bundle/vim-operator-flashy"]
	path = bundle/vim-operator-flashy
	url = https://github.com/haya14busa/vim-operator-flashy.git
[submodule "bundle/incsearch"]
	path = bundle/incsearch
	url = https://github.com/haya14busa/incsearch.vim.git
[submodule "bundle/bundle/incsearch-easymotion"]
	path = bundle/bundle/incsearch-easymotion
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule "bundle/incsearch-easymotion"]
	path = bundle/incsearch-easymotion
	url = https://github.com/haya14busa/incsearch-easymotion.vim.git
[submodule "bundle/incsearch-fuzzy"]
	path = bundle/incsearch-fuzzy
	url = https://github.com/haya14busa/incsearch-fuzzy.vim.git
[submodule "bundle/vim-ctrlspace"]
	path = bundle/vim-ctrlspace
	url = https://github.com/vim-ctrlspace/vim-ctrlspace.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = https://github.com/ternjs/tern_for_vim.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/nerdtree-git-plugin"]
	path = bundle/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature.git
[submodule "bundle/unite-gtags"]
	path = bundle/unite-gtags
	url = https://github.com/hewes/unite-gtags.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
[submodule "bundle/vim-nerdtree-syntax-highlight"]
	path = bundle/vim-nerdtree-syntax-highlight
	url = https://github.com/tiagofumo/vim-nerdtree-syntax-highlight.git
[submodule "bundle/vim-devicons"]
	path = bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "bundle/vim-indent-guide"]
	path = bundle/vim-indent-guide
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/haskell-vim"]
	path = bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "bundle/vim-hackernews"]
	path = bundle/vim-hackernews
	url = https://github.com/ryanss/vim-hackernews.git
[submodule "bundle/vim-autoformat"]
	path = bundle/vim-autoformat
	url = https://github.com/Chiel92/vim-autoformat.git
[submodule "bundle/zeavim"]
	path = bundle/zeavim
	url = https://github.com/KabbAmine/zeavim.vim.git
[submodule "bundle/vim-indentwise"]
	path = bundle/vim-indentwise
	url = https://github.com/jeetsukumaran/vim-indentwise.git
[submodule "bundle/vim-tmux-navigator"]
	path = bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
